@use "./partials/variables" as *;
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "node_modules/bootstrap/scss/bootstrap";


// RESET
.ms_background {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(0, 152, 155, 1) 0.1%, rgba(0, 94, 120, 1) 94.2%);
    min-height: calc(100vh - $header-height);
}

img {
    max-width: 100%;
}